body {
    width: 100vw;
    height: 100vh;

    background: url('../../img/pattern-bg.svg') no-repeat center top 50px/90%, url('../../img/pattern-curve.svg') no-repeat bottom left/contain, var(--white);

    font-family: var(--font);

    overflow: hidden;
}

.btns__previous,
.btns__next {   
    cursor: pointer;
}

[data-none] {
    display: none;
}

[data-flex] {
    display: flex;
}