.btns {
    display: flex;

    position: absolute;
    top: 340px;
    left: calc(50vw - 40px);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    border-radius: 20px;

    overflow: hidden;
}

.btns__previous,
.btns__next {
    width: 40px;
    height: 40px;

    border: none;
}

.btns__previous {
    background: url('../../img/icon-prev.svg') no-repeat center/10px, var(--white);
}

.btns__next {
    background: url('../../img/icon-next.svg') no-repeat center/10px, var(--white);
}
